.detail {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    gap: 2rem;
    padding: 0 0 0 1rem;
}

.frame {
    color: black;
    background: white;
    flex-flow: column;
    padding: 2rem;
    border-radius: 1rem;

    & .identity-field {
        background: white;
        color: black;
    }
}